:root {
    --white: #FCFCFC;
    --light-gray: #e9ecef;
    --blue: #283986;
    --secondary-blue: #91b2ff;
    --yellow: #FFD41C;
    --secondary-yellow: #ffe365;
    --black: #363636;
}
/* Use this pallets */
/* Css designs goes below this */
.medical_records section-content {
  background: none;
  background-color: var(--blue);
}

.medical_records {
    background: none;
    background-color: var(--blue);
}

.StudentInfocontainer {
    height: 90vh;
    border: 1px solid green;
  display: flex;
  flex-direction: column;
  margin: 2%

}

.medRecordContainer {
    background-color: antiquewhite;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
}

.MedRecord_GeneralInfo {
    border: 1px solid pink;
    width: 100%;
    display: flex;
    flex-direction: row;

}

.medRecordLeft {
    border: 2px solid black;
    flex: 1;
}

.medRecordRight {
    border: 2px solid chartreuse;
    flex: 1;
}