:root {
  --white: #fcfcfc;
  --light-gray: #e9ecef;
  --blue: #283986;
  --secondary-blue: #91b2ff;
  --yellow: #ffd41c;
  --secondary-yellow: #ffe365;
  --black: #363636;
}
/* Use this pallets */
/* Css designs goes below this */

.medical_records section-content {
  background: none;
  background-color: var(--blue);
}

.medical_records {
  background: none;
  background-color: var(--blue);
}

.bold {
  font-weight: bold;
}

.StudentInfocontainer {
  display: flex;
  flex-direction: column;
  margin: 2%;
  padding: 5%;
  width: 90%;
  max-width: 1500px;
  border-radius: 16px;
  background-color: var(--white);
}

.medRecordContainer {
  display: flex;
  flex-direction: column;
}

.MedRecord_GeneralInfo {
  background-color: var(--light-gray);
  border-radius: 10px;
  margin: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 0px 30px;
}

.medRecordLeft {
  flex: 1;
}

.medRecordRight {
  flex: 1;
}

.MedRecord_MedInfo {
  border-radius: 10px;
  margin: auto;
  width: 100%;
  padding: 0px 30px;
  margin-bottom: 4px;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.medHistoryContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100px;
  background-color: var(--light-gray);
  border-radius: 16px;
}

.medHistoryContainer_dfText {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.No_MedHistory {
  text-align: center;
  color: #757575;
}
.MH_RowLabel {
    display: table-row;
    width: 100%;
    cursor: pointer;
  background: white;
}
.MH_RowLabel:hover {
    background: var(--light-gray) !important;
    cursor: pointer;
}
.medHistoryTable {
  justify-content: center;
  width: 100%;
}

.textCenter {
  text-align: center;
}

.medicalRecords-btn {
  flex: 1;
}

.medicalCertificate-btn {
  flex: 1;
}

.medHistoryTableNames {
  background-color: var(--light-gray);
}

.medRecordTable th {
  text-align: start;
  background-color: var(--blue);
  color: var(--light-gray);
}
.MH_RowLabel td {
  background-color: transparent;
}
.medRecordTable tr:hover {
  cursor: pointer;
  background-color: var(--light-gray);
}

.medHistoryTable th {
  text-align: start;
  background-color: var(--blue);
  color: var(--light-gray);
  border: 1px solid black;
}

.textBlueContainer {
  background-color: #e3e5e7;
  padding: 10px;
  font-size: 1.2em;
}

.layoutRow {
  width: 98%;
  display: flex;
  flex-direction: row;
}

.layoutRow p {
  flex: 3;
}

.read-only-container {
  padding: 20px;
}
