:root {
    --white: #FCFCFC;
    --light-gray: #e9ecef;
    --blue: #283986;
    --secondary-blue: #91b2ff;
    --yellow: #FFD41C;
    --secondary-yellow: #ffe365;
    --black: #363636;
}
/* Use this pallets */
/* Css designs goes below this */

.medical_records section-content {
  background: none;
  background-color: var(--blue);
}

.medical_records {
    background: none;
    background-color: var(--blue);
}

.bold {
    font-weight: bold;
}

.StudentInfocontainer {
    border: 1px solid green;
  display: flex;
  flex-direction: column;
  margin: 2%;
  padding: 5%;
  border-radius: 16px;
background-color: var(--white);
}

.medRecordContainer {
    display: flex;
    flex-direction: column;
    
}

.MedRecord_GeneralInfo {
    background-color: var(--light-gray);
    border-radius: 10px;
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 0px 30px;

}

.medRecordLeft {
    flex: 1;
}

.medRecordRight {
    flex: 1;
}

.MedRecord_MedInfo {
    border-radius: 10px;
    margin: auto;
    width: 100%;
    padding: 0px 30px;
    margin-bottom: 4px;
}

.buttonContainer  {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.medHistoryContainer {
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 100%;
    min-height: 100px; 
    background-color: var(--light-gray);
    border-radius: 16px;
}

.medHistoryContainer_dfText {
    display: flex;
    justify-content: center; 
    align-items: center; 
    width: 100%; 
}

.No_MedHistory {
    text-align: center;
    color: #757575;
}

.medHistoryContainer_table {
    display: none;
}

.medHistoryTable {
    justify-content: center;
    width: 100%;
}

.medHistoryTable th {
    border: 1px solid black;
}

.textCenter {
    text-align: center;
}

.medicalRecords-btn {
    flex: 1;
}

.medicalCertificate-btn {
    flex: 1;
}

.medRecordTable, .medHistoryTable {
    width: 100%;
    background-color: var(--light-gray);
}

.medHistoryTableNames {
  background-color: var(--light-gray);
}

.medRecordTable th {
    text-align: start;
    background-color: var(--blue);
    color: var(--light-gray);
}
 
.medHistoryTable th {
    text-align: start;
    background-color: var(--blue);
    color: var(--light-gray);
}

.textBlueContainer {
    background-color: #e3e5e7;
    padding: 10px;
    font-size: 1.2em;
}

.layoutRow {
    width: 98%;
    display: flex;
    flex-direction: row;
}

.layoutRow p  {
    flex: 3;
}