:root {
    --white: #FCFCFC;
    --light-gray: #e9ecef;
    --blue: #283986;
    --secondary-blue: #91b2ff;
    --yellow: #FFD41C;
    --secondary-yellow: #ffe365;
    --black: #363636;
}
/* Use this pallets */
/* Css designs goes below this */
.my_appointments {
  padding: 2rem 0;
  display: none;
  justify-content: center;
}

.create-appointments-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.create-appointments-card {
  background-color: transparent;
  width: 80%;
  max-width: 980px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
/* Card */
.appointments-form {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}
.form-group {
  flex: 1 1 calc(33.333% - 1rem);
  min-width: 250px;
}


/* Patient view section */
.patient-view {
  width: 90%;
}

.patient-view h1 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

/* Appointment table container */
.appointment-table-container {
  background-color: #d1d5db;
  border-radius: 0.5rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
}

table {
  width: 100%;
  text-align: left;
}

thead tr {
  background-color: #1e3a8a;
  color: white;
}

th, td {
  padding: 0.5rem 1rem;
}

tbody tr {
  border-bottom: 1px solid #9ca3af;
  color: black;
}

/* Status indicators */
.status-indicator {
  height: 1rem;
  width: 1rem;
  border-radius: 9999px;
  display: inline-block;
}

.status-indicator.pending {
  background-color: #facc15;
  margin-left:15px;
}

.status-indicator.cancelled {
  background-color: #ef4444;
   margin-left:15px;
}

.status-indicator.confirmed {
  background-color: #22c55e;
   margin-left:15px;
}

.status-legend {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
}

.status-item {
  display: flex;
  align-items: center;
}

.status-item .status-indicator {
  margin-right: 0.5rem;
}