:root {
  --white: #fcfcfc;
  --light-gray: #e9ecef;
  --blue: #283986;
  --secondary-blue: #91b2ff;
  --yellow: #ffd41c;
  --secondary-yellow: #ffe365;
  --black: #363636;
}

.settings {
    padding: 2rem 0;
    display: flex;
    justify-content: center;
}
.login-sessions-card {
  width: 90%;
  max-width: 1000px;
    margin: auto;
}
.patient-settings-card {
    width: 90%;
    max-width: 1000px;
    min-height: 100%;
    margin: auto;
    border-radius: 16px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
}

.settings-form {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}
.settings-form .editable-field {
  display: flex;
  align-items: center;
  justify-content: center;
}

.settings-form .editable-field input {
  flex: 1;
  margin-right: 10px;
}

.form-header {
  text-align: center;
  margin-bottom: 1.5rem;
}

.form-header h1 {
  font-weight: bold;
  color: var(--black);
}

.form-header p {
  color: var(--black);
}

.form-group {
  flex: 1 1 calc(33.333% - 1rem);
  min-width: 250px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: var(--black);
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 0.75rem;
  border-radius: 8px;
  border: 1px solid var(--black);
  background-color: var(--white);
  font-size: 1rem;
}

.submit-container {
  width: 100%;
  display: flex;
  justify-content: end;
  margin-top: 1rem;
}
.submit-container #genPassword {
  margin-right: 1rem;
}
.notification {
  display: none;
  padding: 1rem;
  border-radius: 8px;
  font-size: 1rem;
}
