:root {
  --white: #fcfcfc;
  --light-gray: #e3e3e3;
  --red: #981414;
  --yellow: #ffd41c;
  --secondary-yellow: #ffe365;
  --black: #363636;
  --green: #009926;
}
.dashboard .chart-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
  gap: 1rem;
  width: 100%;
  padding-left: 3rem;
  justify-content: end;
}

/* Ensure chart-cards fill their grid cell */
.dashboard .chart-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
}

/* Make canvas fill card and maintain aspect ratio */
.dashboard .chart-card canvas {
  justify-content: center;
  width: 100% !important;
  height: auto !important;
  border: 2px solid var(--red);
}
