:root {
    --white: #fcfcfc;
    --light-gray: #e9ecef;
    --red: #981414;
    --yellow: #ffd41c;
    --secondary-yellow: #ffe365;
    --black: #363636;
    --green: #009926;
}

.category-row {
  margin-bottom: 10px;
}
.inventory-page {
  display: flex;
  flex-direction: row;
  justify-content: end;
  width: 100%;
  height: 100%;
}
.inventory-card {
  width: 98%;
  min-height: 100%;
  padding: 2rem;
  border: 5px solid var(--red);
  border-radius: 16px;
  background-color: transparent;
  display: flex;
  flex-direction: column;
}
.product-details-card {
  width: 100%;
  min-height: 100%;
  padding: 2rem;
  border-radius: 16px;
  background-color: transparent;
  flex-direction: column;
}
.category-heading {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}
.scroll-container {
  display: flex;
  overflow-x: auto;
  gap: 16px;
  padding-bottom: 10px;
}
.product-card {
  min-width: 150px;
  background: var(--red);
  color: white;
  padding: 16px;
  border-radius: 8px;
  flex-shrink: 0;
}
.divider {
  border-bottom: 2px solid #ccc;
  margin-top: 30px;
    }

.detail-wrapper {
  display: flex;
  height: 85vh;
  width: 100%;
  margin-top: 1rem;
}

/* left column narrow */
.detail-left {
  flex: 1;
  color: white;
  border-radius: 16px 0px 0px 16px;
  padding: 1rem;
  border: 5px solid var(--red);
}

/* right column wider */
.detail-right {
  flex: 2;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  border-radius: 0px 16px 16px 0px;
  border: 5px solid var(--red);
  border-left: none;
  overflow: hidden;
}
.record-holder {
  flex: 2;
  height: 75%; /* or whatever height you want */
  overflow: hidden;
  display: flex;
  gap: 1rem;
  
}
.record-holder2 {
  height: 25%; /* or whatever height you want */
  display: flex;
  gap: 1rem;
  background-color: var(--red);
}

.qty {
  font-weight: bold;
}
/* green for incoming */
.qty.in {
  color: var(--green);
}

/* red for outgoing */
.qty.out {
  color: var(--red);
}
.in-records,
.out-records {
  background: transparent;
  padding: 1rem;
  border-radius: 0.5rem;
  height: 100%;
  flex: 1;
  overflow-y: auto;
}
.record-item {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 16px;
  margin-bottom: 10px;
  background-color: var(--white);
}

.record-content {
  display: flex;
  flex-direction: column;
}
.delete-record-btn {
  background: transparent;
  border: none;
  color: var(--black);
  margin-left: auto;
  font-size: 1.2rem;
}
.delete-record-btn:hover {
  color: var(--red) !important;
}

/* back button style */
.back-button:hover {
  background: #a00;
}
.stockRecordForm {
  padding: 10px;
  width: 50%;
  height: 100%;
}

.stockRecordForm form .form-group label {
  color: white;
}
.stockRecordForm .product-form {
  gap: 0px;
}
.stockRecordForm .product-form .submit-container {
  width: 100%;
  margin-top: 3px;
  align-items: bottom;
}
.stockRecordForm .product-form .submit-container button:hover {
  color: var(--red);
}

.stock-record-btn {
  background: var(--white);
  border: none;
  color: var(--black);
  margin-left: auto;
  font-size: 1.2rem;
}