:root {
    --white: #fcfcfc;
    --light-gray: #e9ecef;
    --red: #981414;
    --yellow: #ffd41c;
    --secondary-yellow: #ffe365;
    --black: #363636;
}

.product_registration {
  display: block;
  justify-content: center;
}

.separator {
  display: flex;
  flex-direction: row;
  justify-content: end;
  width: 100%;
  height: 100%;
}
.register-card {
  width: 80%;
  max-width: 980px;
  min-height: 100%;
  padding: 2rem;
  border: 3px solid var(--red);
  border-radius: 16px 0px 0px 16px;
  background-color: transparent;
  display: flex;
  flex-direction: column;
}
.categories-card {
  width: 20%;
  height: 100%;
  border-radius: 16px;
  padding: 5px;
  border-radius: 0px 16px 16px 0px;
  background-color: var(--red);
}

.product-form {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}
.notification {
  display: none;
  padding: 1rem;
  border-radius: 8px;
  font-size: 1rem;
}

@media (max-width: 768px) {
  .register-card {
    width: 100%;
    padding: 1.5rem;
    box-shadow: none;
    min-height: auto;
  }

  .form-group {
    flex: 1 1 100%;
  }

  .submit-button {
    width: 100%;
  }
}
