:root {
    --white: #fcfcfc;
    --light-gray: #e9ecef;
    --red: #981414;
    --yellow: #ffd41c;
    --secondary-yellow: #ffe365;
    --black: #363636;
}

.product_registration {
  padding: 2rem 0;
  display: flex;
  justify-content: center;
}

.register-card {
  width: 50%;
  max-width: 980px;
  min-height: 100%;
  margin: auto;
  padding: 2rem;
  border-radius: 16px;
  background-color: transparent;
  display: flex;
  flex-direction: column;
}
.products-card {
  width: 50%;
}

.product-form {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}
.notification {
  display: none;
  padding: 1rem;
  border-radius: 8px;
  font-size: 1rem;
}

@media (max-width: 768px) {
  .register-card {
    width: 100%;
    padding: 1.5rem;
    box-shadow: none;
    min-height: auto;
  }

  .form-group {
    flex: 1 1 100%;
  }

  .submit-button {
    width: 100%;
  }
}
