:root {
  --white: #FCFCFC;
  --light-gray: #e9ecef;
  --blue: #283986;
  --secondary-blue: #91b2ff;
  --yellow: #FFD41C;
  --secondary-yellow: #ffe365;
  --black: #202020;
}

body {
  scroll-behavior: smooth;
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

section {
  height: 100vh;
  display: flex;
  margin-left: 250px;
  padding: 10px;
  overflow-x: hidden;
  background: url("https://media.discordapp.net/attachments/1301112711278755895/1333627261126971393/image.png?ex=679994ac&is=6798432c&hm=9679e6bb955b6517350cf6bb20b2802b3be31da8bed48d182327768be7ea5afd&=&format=webp&quality=lossless&width=1920&height=1080") no-repeat center center/cover;
}

/* Navigation Bar */
.navbar {
  width: 250px;
  position: sticky;
  top: 0;
  z-index: 1020;
  background-color: var(--blue);
}

.nav-link {
  display: flex;
  width: 100%;
  position: relative;
  transition: color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
  border-radius: 12px;
  background-color: var(--white);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.06);
}

.nav-item {
  display: flex;
  justify-content: center;
}

.nav-link:hover {
  background-color: var(--light-gray);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15), 0 2px 4px rgba(0, 0, 0, 0.1);
  transform: translateY(-2px);
}

.nav-link.active {
  background-color: var(--secondary-yellow);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2), 0 1px 3px rgba(0, 0, 0, 0.1);
}

.nav-link.active::after {
  width: 87%;
  background-color: var(--blue);
  color: var(--white);
}

.nav-link::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: var(--yellow);
  transition: width 0.3s ease;
  transform: translateX(-50%);
}

.nav-link:hover::after {
  width: 87%;
}

.navbar-brand {
  margin-bottom: 5vh;
  margin-right: 0px;
  text-align: center;
  align-items: center;
}

.nav-item-custom {
  padding: 15px 20px;
  margin-bottom: 1vh;
  width: calc(100% - 20px);
}

.nav-item-custom:first-child {
  margin-top: 10px;
}