:root {
    --white: #FCFCFC;
    --light-gray: #e9ecef;
    --blue: #283986;
    --secondary-blue: #91b2ff;
    --yellow: #FFD41C;
    --secondary-yellow: #ffe365;
    --black: #363636;
}

.patient_registration {
  background: none;
  background-color: var(--blue);
}
.register-card {
  width: 80%;
  height: 100%;
  z-index: 1;
  background: url('https://cdn.glitch.global/55d2e535-2ad0-4ea1-9976-55657ec6a397/form-bg?v=1738147040605') no-repeat center center/cover;
  background-size: cover;
}

.d-grid {
  width: 100%;
  justify-content: end;
}

.d-grid button {
  width: 10vw;
  justify-content: center;
}

@media (max-width: 768px) {
  .register-card {
  width: 100%;
  height: auto;
  box-shadow: none;
}
  
  .d-grid button {
    width: 150px;
}
}