:root {
    --white: #FCFCFC;
    --light-gray: #e9ecef;
    --blue: #283986;
    --secondary-blue: #91b2ff;
    --yellow: #FFD41C;
    --secondary-yellow: #ffe365;
    --black: #363636;
}

.patient_registration {
  background: none;
  background-color: var(--blue);
}
.register-card {
  width: 80%; /* Ensures responsiveness */
  height: 100%;
  
  background: url('https://media.discordapp.net/attachments/1301112711278755895/1333784624517873726/image.png?ex=679a273b&is=6798d5bb&hm=c6eda748a76d0699f7a7961082ac5b7ba1de906ff7d604c72920d9381639fcd6&=&format=webp&quality=lossless&width=1320&height=1060') no-repeat center center/cover;
  background-size: cover;
}

.d-grid {
  width: 100%;
  justify-content: end;
}

.d-grid button {
  width: 10vw;
  justify-content: center;
}

@media (max-width: 768px) {
  .register-card {
  width: 100%; /* Ensures responsiveness */
  height: auto;
  box-shadow: none;
}
  
  .d-grid button {
    width: 150px;
}
}