<section id="appointments" class="appointments section-content">
  <!-- Don't change the id and class -->
  <div class="appointment-card">
    <header class="mb-6 text-center">
      <h1>Appointments</h1>
    </header>
    <!-- Content goes below this -->
    <div class="appoint-card">
      <form id="appointmentinfo" class="appoint-info">

        <table class="appointment-table">
          <thead>
            <tr>
              <th id="patientName">Name</th>
              <th id="appointmentDay">Day</th>
              <th id="appointmentTimeSchedule">Time Schedule</th>
              <th id="appointmentReason">Reason</th>
              <th id="appointmentStatus">Status</th>
              <th id="appointmentActions">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr>
            </tr>
            <tr>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
    <!-- Content goes above this -->
  </div>
</section>
