<section id="appointments" class="appointments section-content"> <!-- Don't change the id and class -->
  <div class="appointment-card">
    <header class="mb-6 text-center">
    <h1>Appoint in the Clinic</h1>
      <p>Fill in the details below to create appoint in the clinic</p>
    </header>
      <!-- Content goes below this -->
<div class="appoint-card">
     <form id="appointmentinfo" class="appoint-info">
       
    <div class="name-info">
    <div class="name-section">
      <label for="first_name">First Name:</label>
      <input type="text" id="first_name" name="first_name" required />
    </div>
    <div class="name-section">
      <label for="last_name">Last Name:</label>
      <input type="text" id="last_name" name="last_name" required />
    </div>
  </div>

         <div class="dateandtime-info">
      <div class="datetime-appoint">
        <label for="date-appoint">Date</label>
        <input type="date-type-appoint" id="date-id-appoint" name="date-name-appoint" required/>
        </div>
           <div class="datetime-appoint">
        <label for="tv-appoint">Time Visit</label>
        <input type="time-visit-type" id="time-visit-id" name="time-visit-name" required/>
        </div>
      </div>
       
       <div class="doctorname-info">
      <div class="doctorname-section">
      <label for="doctor_name">Doctor Name:</label>
      <input type="text" id="doctorname-id" name="doctor_name" required />
    </div>
      </div> 
       
       <div class="reason-info">
      <div class="reason-section">
      <label for="reason">Reason for Appointment  (make it specific):</label>
      <input type="text" id="reason-id" name="reason" required />
    </div>
      </div> 
       
       <div class="appoint-container">
        <button id="appoint-info" class="appoint-button-schedule">Appoint</button>
      </div>
      
       
     </form>
</div>
      <!-- Content goes above this -->
    </div>
</section>