<section id="patient_registration" class="patient_registration section-content">
  <div class="register-card">
    <header class="form-header">
      <h1>Register Patient Account</h1>
      <p>Fill in the details below to create a new patient account</p>
    </header>
    <form id="patientForm" class="patient-form">
      <div class="form-group">
        <label for="first_name">First Name</label>
        <input type="text" id="first_name" name="first_name" required/>
      </div>
      
      <div class="form-group">
        <label for="last_name">Last Name</label>
        <input type="text" id="last_name" name="last_name" required/>
      </div>
      
      <div class="form-group">
        <label for="sex">Sex</label>
        <select id="sex" name="sex" required>
          <option value="">Select</option>
          <option value="Male">Male</option>
          <option value="Female">Female</option>
          <option value="Other">Other</option>
        </select>
      </div>
      
      <div class="form-group">
        <label for="birthdate">Birthdate</label>
        <input type="date" id="birthdate" name="birthdate" required/>
      </div>
      
      <div class="form-group">
        <label for="contact_number">Contact Number</label>
        <input type="tel" id="contact_number" name="contact_number" pattern="0[0-9]{10}" placeholder="09XXXXXXXXX" required/>
      </div>
      
      <div class="form-group">
        <label for="patient_type">Patient Type</label>
        <select id="patient_type" name="patient_type" required>
          <option value="">Select</option>
          <option value="Student">Student</option>
          <option value="Faculty">Faculty</option>
          <option value="NU Employee">NU Employee</option>
        </select>
      </div>
      
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" required/>
      </div>
      
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" minlength="8" required/>
      </div>
      
      <div class="form-group">
        <label for="confirm_password">Confirm Password</label>
        <input type="password" id="confirm_password" name="confirm_password" required/>
      </div>
      
      <div class="submit-container">
        <button id="genPassword" class="action-button">Generate Password</button>
        <button type="submit" class="action-button">Register Patient</button>
      </div>
      <p>Generated password will be sent to the registered email</p>
      
    </form>
    <div id="notification" class="notification" role="alert"></div>
  </div>
  
</section>
    
    