<section id="patient_history" class="patient_history section-content">
  <!-- Don't change the id and class -->
  <div class="container m-auto">
    <header class="mb-6 text-center"></header>
    <!-- Content goes below this -->
    <div class="PHContainer">
      <header class="form-header">
          <h1>Patient History</h1>
        </header>

      <div class="PH_TableWrapper">
        <table class="PH_PatientTable">
          <thead class="PH_TableHead">
            <tr class="PH_TableRow">
              <th class="PH_TableColumn">Name</th>
              <th class="PH_TableColumn">Sex</th>
              <th class="PH_TableColumn">Birthdate</th>
              <th class="PH_TableColumn">Contact No.</th>
              <th class="PH_TableColumn">Email</th>
            </tr>
          </thead>

          <tbody class="PH_TableInput">
            <tr class="PH_TableRow">
              <td id="PatientHistory_Name" class="PH_TableData">Film Racha</td>
              <td id="PatientHistory_Sex" class="PH_TableData">Female</td>
              <td id="PatientHistory_Birthdate" class="PH_TableData">12/20/05</td>
              <td id="PatientHistory_Contact" class="PH_TableData">09453263549</td>
              <td id="PatientHistory_Email" class="PH_TableData">12313213131313</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- Content goes above this -->
  </div>
</section>
