<section id="patient_history" class="patient_history section-content">
  <!-- Don't change the id and class -->
  <div class="container m-auto">
    <header class="mb-6 text-center"></header>
    <!-- Content goes below this -->
    <div class="PHContainer">
      <header class="PH_TitleHeader">
        <h1 class="PH_Title">Patient History</h1>
        <h2 class="PH_Label">Patient List</h2>
      </header>

      <div class="PH_TableWrapper">
        <table class="PH_PatientTable">
          <thead class="PH_TableHead">
            <tr class="PH_TableRow">
              <th class="PH_TableColumn">Name</th>
              <th class="PH_TableColumn">Sex</th>
              <th class="PH_TableColumn">Birthdate</th>
              <th class="PH_TableColumn">Contact No.</th>
              <th class="PH_TableColumn">Email</th>
              <th class="PH_TableColumn">Patient Type</th>
              <th class="PH_TableColumn">Status</th>
            </tr>
          </thead>

          <tbody class="PH_TableInput">
            <tr class="PH_TableRow">
              <td id="PatientHistory_Name" class="PH_TableData">Film Racha</td>
              <td id="PatientHistory_Sex" class="PH_TableData">Female</td>
              <td id="PatientHistory_Birthdate" class="PH_TableData">
                13212331
              </td>
              <td id="PatientHistory_Contact" class="PH_TableData">
                Soafer Latina
              </td>
              <td id="PatientHistory_Email" class="PH_TableData">
                12313213131313
              </td>
              <td id="PatientHistory_PatientType" class="PH_TableData">
                Calamba, Laguna
              </td>
              <td id="PatientHistory_Status" class="PH_TableData">
                Calamba, Laguna
              </td>
            </tr>
            <tr class="PH_DetailsRow">
              <td colspan="7">
                <div class="PH_DetailsContent">
                  <p><strong>Allergy:</strong> 10:30 AM</p>
                  <p><strong>Medication:</strong> Dr. Smith</p>
                  <p>
                    <strong>EmergencyContact:</strong> High fever, chest pain
                  </p>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- Content goes above this -->
  </div>
</section>
