<section id="work_schedule" class="work_schedule section-content"> <!-- Don't change the id and class -->
  <div class="container m-auto">
    
    <div class="work_schedule-card">
    <header class="schedule-header">
      <h1>Register Patient Account</h1>
      <p>Fill in the details below to create a new patient account</p>
    </header>
    <form id="patientForm" class="patient-form">
      <div class="form-group">
        <label for="first_name">First Name</label>
        <input type="text" id="first_name" name="first_name" required/>
      </div>
    
      </form>
        
      
    </div>
      </div>
</section>