<section id="work_schedule" class="work_schedule section-content"> <!-- Don't change the id and class -->
  <div class="container m-auto">
    
    <div id="work_schedulecard">
    <header class="schedule-header">
      <h1>Work Schedule</h1>
      <p>Input your schedule for today for patients to\n see if your on-duty</p>
    </header>
      
    <form id="patientinfo" class="patient-info">
      <div class="form-info">
        <div class="name-section">
        <label for="first_name">First Name</label>
        <input type="text" id="first_name" name="first_name" required/>
        <label for="last_name">Last Name</label>
        <input type="text" id="last_name" name="last_name" required/>
         </div> 
      </div>
      
    <div class="form-info">
        <label for="date">Date</label>
        <input type="date-type" id="date-id" name="date-name" required/>
      </div>
      
      
      <div class="form-info">
        <label for="working-hours">Working Hours: </label>
        <label for="time-in">Time-in:</label>
        <input type="text" id="time-in" name="time-in" required/>
         <label for="time-out">Time-out:</label>
        <input type="text" id="time-out" name="time-out" required/>
      </div>
      
      <div class="save-container">
        <button id="save-info" class="save-button-schedule">Save</button>
      </div>
      
      </form>
    </div>
      </div>
</section>