<section id="medical_records" class="medical_records section-content">
  <!-- Don't change the id and class -->
  <div class="container m-auto">
    <header class="mb-6 text-center">
      <!-- Content goes below this -->
      <h1>
        Medical Records
      </h1>

      <!-- Content goes above this -->
    </header>

    <div class="StudentInfocontainer">
      <section>
        
        <p>
          Name: 
        </p>
         <p>
          Gender: 
        </p>
        <p>
          Birthdate: 
        </p>
         
      </section>
      <section>
        
        <p>
          Contact No.: 
        </p>
         <p>
          Bloodtype: 
        </p>
        <p>
          Birthdate: 
        </p>
        
      </section>
    </div>
  </div>
</section>
