<section id="my_appointments" class="my_appointments section-content">
  <div class="container">
    <header></header>
    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Patient View Section -->
      <div class="patient-view">
        <h1>My Appointment</h1>
        <div class="appointment-table-container">
          <table>
            <thead>
              <tr>
                <th id= "datetime">Date Time</th>
                <th id= "DoctorName"> DoctorName</th>
                <th id= "Status">Status</th>
                <th id= "Actions">Actions</th>
                
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Nov 30, 2020 12:00 PM</td>
                <td>Dr. Juan Miguel</td>
                <td><span class="status-indicator pending" title="Pending"></span></td>
                <td>Follow-up</td>
              </tr>
              <tr>
                <td>Sept 30, 2020 9:00 AM</td>
                <td>Dr. Nicole Evangelista</td>
                <td><span class="status-indicator pending" title="Pending"></span></td>
                <td>Consultation</td>
              </tr>
              <tr>
                <td>Oct 5, 2020 5:30 PM</td>
                <td>Dr. Avril Phoebe</td>
                <td><span class="status-indicator pending" title="Pending"></span></td>
                <td>Follow-up</td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="5">
                  <div class="status-legend">
                    <div class="status-item">
                      <span class="status-indicator pending"></span>
                      <span>Pending</span>
                    </div>
                    <div class="status-item">
                      <span class="status-indicator cancelled"></span>
                      <span>Cancel</span>
                    </div>
                    <div class="status-item">
                      <span class="status-indicator confirmed"></span>
                      <span>Confirm</span>
                    </div>
                  </div>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>