<section id="my_appointments" class="my_appointments section-content">
  <div class="container">
    <div class="create-appointments-container">
      <div class="create-appointments-card">
        <header class="form-header">
          <h1>Create Appointment</h1>
        </header>
        <form id="createAppointmentsForm" class="appointments-form">
          <div class="form-group">
            <label for="first_name">First Name</label>
            <input
              type="text"
              id="create_app_first_name"
              name="first_name"
              readonly
            />
          </div>
          <div class="form-group">
            <label for="last_name">Last Name</label>
            <input
              type="text"
              id="create_app_last_name"
              name="last_name"
              readonly
            />
          </div>
          <div class="form-group">
            <label for="contact_num">Contact Number</label>
            <input
              type="text"
              id="create_app_contact_num"
              name="contact_num"
              readonly
            />
          </div>

          <div class="form-group">
            <label for="reason">Reason for Appointment</label>
            <select id="create_app_reason" name="reason" required>
              <option value="">Select Reason</option>
              <option value="Medical Consultation">Medical Consultation</option>
              <option value="Health Assessment">Health Assessment</option>
              <option value="Follow-up Checkup">Follow-up Checkup</option>
              <option value="Medical Certificate Request">
                Request for Medical Certificate
              </option>
              <option value="Mental Health Counseling">
                Mental Health Counseling
              </option>
              <option value="Prescription Refill">Prescription Refill</option>
            </select>
          </div>

          <div class="form-group">
            <label for="day">Appointment Date (this week)</label>
            <select id="create_app_day" name="day" required>
              <option value="">Select Day</option>
              <option value="Monday">Monday</option>
              <option value="Tuesday">Tuesday</option>
              <option value="Wednesday">Wednesday</option>
              <option value="Thursday">Thursday</option>
              <option value="Friday">Friday</option>
            </select>
          </div>

          <div class="form-group">
            <label for="schedule">Time Schedule</label>
            <select id="create_app_schedule" name="schedule" required>
              <option value="">Select Schedule</option>
              <option value="Morning">Morning (7:00 AM - 12:00 PM)</option>
              <option value="Afternoon">Afternoon (1:00 PM - 4:00 PM)</option>
            </select>
          </div>

          <div class="submit-container">
            <button type="submit" class="action-button">
              Create Appointment
            </button>
          </div>
        </form>
        <div id="my_appointments_notif" class="notification" role="alert"></div>
      </div>
      <header class="form-header">
        <h1>My Appointments</h1>
        <p>
          Please make sure to arrive within your given time schedule once you
          created your appointment
        </p>
      </header>
      <!-- Bottom -->
      <div class="patient-view">
        <div class="appointment-table-container">
          <table>
            <thead>
              <tr>
                <th id="appointment_day">Appointment Day</th>
                <th id="appointment_sched">Time Schedule</th>
                <th id="assigned_doctor">Assigned Doctor</th>
                <th id="appointment_reason">Reason</th>
                <th id="appointment_status">Status</th>
                <th id="appointment_cctions">Actions</th>
              </tr>
            </thead>
            <tbody></tbody>
            <tfoot></tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
