<section id="settings" class="settings section-content"> <!-- Don't change the id and class -->
  <div class="container m-auto">
    <header class="mb-6 text-center"></header>
      <!-- Content goes below this -->         

        <!-- User Info Section -->
        <div class="info-container">
            <h2 class="section-title">Patient Information</h2>
            <div class="profile-section">
                <img id="profile-pic" src="profile.png" alt="Profile picture" class="profile-img-large">
                <div class="profile-upload">
                    <p>Profile photo upload</p>
                    <div class="profile-actions">
                        <label for="file-upload" class="upload-label">
                            <i class="fas fa-edit icon"></i>
                        </label>
                        <input id="file-upload" type="file" class="hidden" accept="image/*" onchange="previewImage(event)">
                        <i class="fas fa-times icon delete-icon" onclick="resetImage()"></i>
                    </div>
                </div>
            </div>
            
            <!-- User Details Form -->
            <div class="form-container">
                <div class="form-group">
                    <label for="nameInput">Name:</label>
                    <input id="nameInput" type="text" oninput="this.value = this.value.replace(/[^A-Za-z ]/g, '')" />
                </div>
                
                <div class="form-group">
                    <label for="addressInput">Address:</label>
                    <input id="addressInput" type="text" />
                </div>

                <div class="form-group">
                    <label for="emailInput">Email:</label>
                    <input id="emailInput" type="email" />
                </div>

                <div class="form-group">
                    <label for="phoneInput">Phone:</label>
                    <input id="phoneInput" type="text" oninput="this.value = this.value.replace(/[^0-9]/g, '')" />
                </div>
            </div>
        </div>
    </div>

      <!-- Content goes above this -->
    
</section>