:root {
    --white: #FCFCFC;
    --light-gray: #e9ecef;
    --blue: #283986;
    --secondary-blue: #91b2ff;
    --yellow: #FFD41C;
    --secondary-yellow: #ffe365;
    --black: #363636;
}
/* Use this pallets */
/* Css designs goes below this */
/* Optional: constrain the canvas height */
#analytics canvas {
  max-height: 300px;
}
.row {
  border: 3px solid var(--blue);
  gap: 1px;
  justify-content: center;
}
