:root {
  --white: #fcfcfc;
  --light-gray: #e9ecef;
  --blue: #283986;
  --secondary-blue: #91b2ff;
  --yellow: #ffd41c;
  --secondary-yellow: #ffe365;
  --black: #363636;
}
/* Use this pallets */
/* Css designs goes below this */

#appointments {
  background: none;
  background-color: var(--blue);
  padding: 2rem 0;
  display: none;
  justify-content: center;
}

.appointmentModal {
  width: 80%;
  height: 100%;
  border-radius: 16px;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.appointment-card {
  width: 90%;
  min-height: 100%;
  padding: 2rem;
  border-radius: 16px;
  background-color: var(--light-gray);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  margin: auto;
}

.medical-record-form {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}
#medicalRecordForm .form-group {
  flex: 1 1 calc(50% - 0.5rem); /* Two items per row */
  min-width: 250px;
}

.appointment-table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  font-family: Arial, sans-serif;
}

.appointment-table th,
.appointment-table td {
  border: 2px solid black;
  padding: 10px;
}

.appointment-table thead th {
  background: #f2bf2e;
  font-weight: bold;
}

.appointment-table tbody td {
  vertical-align: middle;
}
.appointment-table tr {
  height: 80px;
}

.submit-container #saveMedRecord {
  margin-right: 1rem;
}
.form-group2 {
  display: flex;
  justify-content: space-between;
}

.form-group2 label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: var(--black);
}

.form-group2 input,
.form-group2 select {
  width: 50%;
  border-radius: 8px;
  border: 1px solid var(--black);
  background-color: var(--white);
  font-size: 1rem;
}

@media (max-width: 768px) {
  .appointment-card {
    width: 100%;
    padding: 1.5rem;
    box-shadow: none;
    min-height: auto;
  }
}