:root {
    --white: #FCFCFC;
    --light-gray: #e9ecef;
    --blue: #283986;
    --secondary-blue: #91b2ff;
    --yellow: #FFD41C;
    --secondary-yellow: #ffe365;
    --black: #363636;
}

.patient_registration {
    padding: 2rem 0;
    display: none;
    justify-content: center;
}

.register-card {
    width: 80%;
    max-width: 980px;
    min-height: 100%;
    margin: auto;
    padding: 2rem;
    border-radius: 16px;
    background-color: var(--light-gray);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.form-header {
    text-align: center;
    margin-bottom: 1.5rem;
}

.form-header h1 {
    font-weight: bold;
    color: var(--black);
}

.form-header p {
    color: var(--black);
}

.patient-form {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.form-group {
    flex: 1 1 calc(33.333% - 1rem);
    min-width: 250px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: var(--black);
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 0.75rem;
    border-radius: 8px;
    border: 1px solid var(--black);
    background-color: var(--white);
    font-size: 1rem;
}

.submit-container {
    width: 100%;
    display: flex;
    justify-content: end;
    margin-top: 1rem;
}
.submit-container #genPassword {
    margin-right: 1rem;
}
.notification {
    display: none;
    padding: 1rem;
    border-radius: 8px;
    font-size: 1rem;
}

@media (max-width: 768px) {
    .register-card {
        width: 100%;
        padding: 1.5rem;
        box-shadow: none;
        min-height: auto;
    }

    .form-group {
        flex: 1 1 100%;
    }

    .submit-button {
        width: 100%;
    }


}
