:root {
  --white: #fcfcfc;
  --light-gray: #e9ecef;
  --blue: #283986;
  --secondary-blue: #91b2ff;
  --yellow: #ffd41c;
  --secondary-yellow: #ffe365;
  --black: #363636;
}


.work_schedule {
  padding: 2rem 0;
  display: none;
  justify-content: center;
}

.work-sched-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.create-schedule-card {
  background-color: transparent;
  width: 80%;
  max-width: 980px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
/* Card */
.work-schedules-card {
  background-color: transparent;
  color: var(--light-gray);
  width: 80%;
  max-width: 980px;
}

.schedule-form {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}



.work-schedules-card table {
  width: 100%;
  border-collapse: collapse;
}

.work-schedules-card td {
  padding: 12px 15px;
  text-align: left;
  color: inherit;
}
.work-schedules-card th {
  padding: 12px 15px;
  text-align: left;
  color: var(--blue);
}

.schedule-data {
  border-radius: 16px;
}
.schedule-data:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.work-schedules-card button {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
}
