<section id="dashboard" class="dashboard section-content">
  <form id="downloadDataForm" style="max-width: 1000px; margin-bottom: 10px;">
    <div class="form-group" id="download-data-form">
      <div style="display: flex; flex-direction: row;">
        <select id="filter_download" name="filter_download" required>
          <option value="today">Today</option>
          <option value="last 7 days">Last 7 Days</option>
          <option value="last 30 days">Last 30 Days</option>
          <option value="this year">This Year</option>
          <option value="all">All Records</option>
        </select>
      </div>
    </div>
    <button id="downloadAllData" type="submit" class="action-button black-loading stock-record-btn"><i class="bi bi-download"></i> Download Excel</button>
    <button id="refreshBtn" class="action-button black-loading stock-record-btn"><i class="bi bi-arrow-clockwise"></i> Refresh</button>
  </form>
  <div class="stat-grid"></div>
  <div class="form-group" style="display: flex; width: 100%; max-width: 900px; align-items: center; gap: 12px; margin-bottom: 10px;">
  <label for="chartCategoryFilter" style="color:white;">Category Filter:</label>
  <select id="chartCategoryFilter">
    <option value="all">All categories</option>
    <!-- JS will populate -->
  </select>

  <label for="chartDateRangeFilter" style="color:white;margin-right:8px;">Date Range:</label>
<select id="chartDateRangeFilter">
  <option value="7">Last 7 Days</option>
  <option value="14">Last 14 Days</option>
  <option value="30">Last 30 Days</option>
</select>
    
    <label for="chartPerRowFilter" style="color:white;margin-right:8px;width:400px;">Charts per Row:</label>
    <select id="chartPerRowFilter">
      <option value="1">1 chart</option>
      <option value="2">2 charts</option>
      <option value="3" selected>3 charts</option>
    </select>
</div>

<div class="chart-grid">
</div>
</section>